:root {
  --c-primary: #47abff;
  --c-dark: #000;
  --c-white: #fff;
  --c-grey: grey;
  --fonts-title: "Futura PTM";
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #ebebeb;
}

.theme-color {
  color: var(--c-primary);
}

.theme-bg {
  background: var(--c-primary);
}

.btn-theme {
  background: var(--c-primary);
  color: var(--c-white);
  cursor: pointer;
}

.btn-theme:hover {
  background: #118df3;
  color: var(--c-white);
}

.remove-border {
  border-color: var(--c-white);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.section-title {
  margin-bottom: 15px;
  padding: 0;
  position: relative;
  line-height: 36px;
}

.section-title:before {
  content: "";
  text-align: center;
  border-radius: 4px;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 45px;
  height: 3px;
  display: inline-block;
  background: var(--c-primary);
}

/*+++++ Slider container Start +++++*/

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-primary);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2a9af6;
}

.slide-container {
  /* max-width: 1120px; */
  width: 100%;
  /* background: var(--c-grey); */
  padding: 40px 0;
}

.slide-content {
  padding: 45px 20px;
  margin: 0 40px;
  /* background: red; */
  overflow: hidden;
  border-radius: 25px;
}

.card-slide {
  width: 320px;
  border-radius: 25px;
  background-color: white;
}

.image-slide-content,
.card-slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 14px; */
}

.image-slide-content {
  position: relative;
  row-gap: 5px;
}

.overlay {
  /* position: absolute;
  left: 0;
  top: 0;
  height: 100%; */
  width: 100%;
  /* background: var(--c-primary); */
  border-radius: 25px 25px 0 0;
}

/* .overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background: var(--c-primary);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: var(--c-white);
} */

.card-slide-image {
  position: relative;
  height: 150px;
  width: 150px;
}

.card-slide-image .card-slide-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--c-primary);
}

/* .name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
} */

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.swiper-navBtn {
  color: var(--c-primary);
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #118df3;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background: #aed8fb;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: var(--c-primary);
}
@media (max-width: 768px) {
  .slide-content-md {
    margin: 0 10px;
  }
  .swiper-navBtn-md {
    display: none;
  }
}
/*+++++ Slider Bar End +++++*/

/* pq-bottom-header */
/*+++++ Logo +++++*/
.pq-bottom-header .navbar .navbar-brand {
  line-height: 80px;
}

.pq-bottom-header .navbar .navbar-brand img {
  height: 55px;
}

/*+++++ Header Navbar Bar +++++*/
.pq-bottom-header {
  min-height: 90px;
}

.pq-bottom-header .navbar {
  padding: 0;
}

.pq-bottom-header .navbar .pq-menu-contain {
  display: inline-block;
  width: 100%;
}

.pq-bottom-header .navbar .navbar-nav {
  float: right;
}
@media screen and (max-width:768px) {
  .pq-bottom-header .navbar .navbar-nav{
  float: left;
  }
}

.pq-bottom-header .navbar .navbar-nav li {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 30px;
  color: var(--c-dark);
  line-height: 90px;
  font-weight: 400;
}

.pq-bottom-header .navbar .navbar-nav li:last-child {
  margin-right: 0;
}

.pq-bottom-header .navbar .navbar-nav li a {
  color: var(--c-dark);
  font-size: 18px;
  text-decoration: none;
}

.pq-bottom-header .navbar .navbar-nav li a:focus,
.pq-bottom-header .navbar .navbar-nav li a:hover,
.pq-bottom-header .navbar .navbar-nav li.current-menu-item a,
.pq-bottom-header .navbar .navbar-nav li.current_page_item a,
.pq-bottom-header .navbar .navbar-nav li:hover a,
.pq-bottom-header .navbar .navbar-nav li.current-menu-ancestor a {
  color: var(--c-primary);
}

/*+++++ Sub Menu Bar +++++*/
.pq-bottom-header .navbar .navbar-nav li .sub-menu {
  display: none;
}

.pq-bottom-header .navbar .navbar-nav li:hover .sub-menu {
  display: block;
  background: var(--c-white);
  position: absolute;
  top: 90px;
  left: 0;
  padding-left: 0;
  display: inline-block;
  width: 230px;
  z-index: 999;
  padding: 0;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
  box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
}

.pq-bottom-header .navbar .navbar-nav li .sub-menu li {
  line-height: 2;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  color: var(--c-dark);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #f3f1f1;
}

.pq-bottom-header .navbar .navbar-nav li i {
  margin-left: 10px;
  font-size: 12px;
  color: var(--c-dark);
  opacity: 0.5;
}

.pq-bottom-header .navbar .navbar-nav li .sub-menu li a {
  line-height: 2;
  text-transform: capitalize;
  padding: 8px 15px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: var(--c-dark);
  font-size: 16px;
  position: relative;
  overflow: hidden;
  float: left;
}

.pq-bottom-header .navbar .navbar-nav li .sub-menu li a:focus,
.pq-bottom-header .navbar .navbar-nav li .sub-menu li a:hover,
.pq-bottom-header .navbar .navbar-nav li .sub-menu li.current-menu-item > a,
.pq-bottom-header .navbar .navbar-nav li .sub-menu li.current-menu-parent > a {
  color: var(--c-primary);
}

.pq-bottom-header .navbar .navbar-nav li .sub-menu li a:before {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  height: 5px;
  width: 5px;
  background: var(--c-primary);
  border-radius: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  left: 0;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

.pq-bottom-header .navbar .navbar-nav li .sub-menu li a:hover:before,
.pq-bottom-header
  .navbar
  .navbar-nav
  li
  .sub-menu
  li.current-menu-item
  > a:before,
.pq-bottom-header
  .navbar
  .navbar-nav
  li
  .sub-menu
  li.current-menu-parent
  > a:before {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.pq-bottom-header .navbar .navbar-nav li .sub-menu > li:hover,
.pq-bottom-header .navbar .navbar-nav li .sub-menu li.current-menu-item,
.pq-bottom-header .navbar .navbar-nav li .sub-menu li.current-menu-parent {
  padding: 0 15px;
}

/*+++++ Navigation Sub Menu +++++*/

.pq-bottom-header .navbar .navbar-nav li .sub-menu li > .sub-menu {
  display: none;
}

.pq-bottom-header .navbar .navbar-nav li .sub-menu li:hover > .sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  background: var(--c-white);
  display: inline-block;
  width: 200px;
}

.pq-bottom-header
  .navbar
  .navbar-nav
  li:hover
  .sub-menu
  li.menu-item-has-children
  > .pq-submenu-icon {
  opacity: 1;
  position: absolute;
  top: 12px;
  right: 15px;
  line-height: 2;
  font-size: 12px;
  color: var(--c-grey);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.pq-bottom-header
  .navbar
  .navbar-nav
  li
  .sub-menu
  > li.menu-item-has-children:hover
  > .pq-submenu-icon,
.pq-bottom-header
  .navbar
  .navbar-nav
  li
  .sub-menu
  li.menu-item-has-children.current-menu-parent
  > .pq-submenu-icon {
  color: var(--c-primary);
}

.pq-bottom-header
  .navbar
  .navbar-nav
  li
  .sub-menu
  > li.menu-item-has-children:hover {
  color: var(--c-primary);
}

.pq-bottom-header
  .navbar
  .navbar-nav
  li
  .sub-menu
  li.menu-item-has-children:hover
  > a {
  color: var(--c-primary);
  transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -ms-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  -webkit-transition: all 0s ease-in-out;
}

.pq-bottom-header {
  min-height: 70px;
}

.pq-bottom-header .no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.pq-bottom-header .navbar .navbar-brand {
  line-height: normal;
  background: var(--c-white);
  padding: 25px 30px;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.pq-has-sticky .pq-bottom-header .navbar .navbar-nav li.current-menu-item > a {
  color: var(--c-primary);
}

.pq-bottom-header .navbar .navbar-nav li {
  line-height: 95px;
}

.pq-bottom-header .navbar .navbar-nav li > a {
  color: var(--c-dark);
}

.pq-bottom-header .navbar .navbar-nav li.current-menu-item > a {
  color: var(--c-primary);
}

.pq-widget .menu li.current-menu-item a {
  background: var(--c-primary);
  color: var(--c-white);
}

.pq-bottom-header .navbar .navbar-nav li:hover .sub-menu {
  top: 95px;
}

.pq-header-sticky .pq-bottom-header .navbar .navbar-nav li > a,
.pq-header-sticky .pq-header-call a .pq-call-info h5 {
  color: var(--c-dark);
}

.pq-bottom-header .pq-header-social ul {
  margin: 0;
  padding: 0;
}

.pq-bottom-header .pq-header-social ul li {
  list-style: none;
  display: inline-block;
  float: left;
  padding-right: 15px;
}

.pq-bottom-header .pq-header-social ul li:last-child {
  padding-right: 0;
}

.pq-bottom-header .pq-header-social ul li a {
  color: var(--c-dark);
  padding: 0;
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  background: var(--c-white);
}

.pq-bottom-header .pq-header-social ul li a:hover {
  background: var(--c-primary);
  color: var(--c-white);
}

.pq-header-sticky .pq-bottom-header .pq-header-social ul li a {
  color: var(--c-primary);
}

.pq-header-sticky .pq-bottom-header .pq-header-social ul li a:hover {
  color: var(--c-white);
}

/* pq-menu-contain */
.pq-bottom-header .navbar .pq-menu-contain {
  display: inline-block;
  width: 100%;
}

/*+++++ Navigation search +++++*/
.pq-menu-search-block {
  position: relative;
  margin: 0 0 0 30px;
}

.pq-menu-search-block a {
  color: var(--c-dark);
  font-size: 16px;
  width: 18px;
  display: inline-block;
}

.pq-menu-search-block input {
  margin-bottom: 0;
}

.pq-menu-search-block {
  margin: 0 0 0 30px;
}

/* pq-search-form */
.pq-search-form {
  position: absolute;
  top: 61px;
  right: -30px;
  width: 350px;
  padding: 15px;
  z-index: 999;
  display: none;
  background: var(--c-white);
  -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 33, 85, 0.1);
  -moz-box-shadow: 0px 3px 30px 0px rgba(0, 33, 85, 0.1);
  box-shadow: 0px 3px 30px 0px rgba(0, 33, 85, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* search-form */
.search-form {
  position: relative;
}

.search-form label {
  width: 100%;
  margin-bottom: 0;
  float: left;
  width: 100%;
}

.widget.widget_search .search-form .search-field,
.widget.widget_search .wp-block-search__input {
  background: var(--c-white);
  border-color: var(--c-white);
}

/*+++++ Text meant only for screen readers +++++*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 0px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: var(--c-grey);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* search-submit */

.search-submit {
  background: var(--c-dark);
  border: none;
  padding: 0;
  position: absolute;
  text-align: center;
  color: var(--c-white) !important;
  /* line-height: 54px;
  height: 54px;
  width: 54px; */
  line-height: 30px;
  height: 37px;
  width: 40px;
  top: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.search-submit:before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
}

.search-submit:hover {
  color: var(--c-white) !important;
  background: var(--c-grey);
  outline: none;
}

/* pq-button */
.pq-button {
  text-decoration: none;
  position: relative;
  width: auto;
  background: var(--c-dark);
  color: var(--c-white);
  font-weight: 400;
  padding: 12px 30px;
  line-height: 2;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.pq-button:hover,
.pq-button:focus {
  background: var(--c-primary);
  color: var(--c-white);
}

.pq-button .pq-button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.pq-button span {
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.pq-button:hover .pq-button-text {
  -moz-transform: translate(60px, 0px);
  -webkit-transform: translate(60px, 0px);
  -o-transform: translate(60px, 0px);
  -ms-transform: translate(60px, 0px);
  transform: translate(60px, 0px);
}

.pq-button .pq-button-line-left {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: var(--c-white);
  width: 0;
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  opacity: 0;
}

.pq-button:hover .pq-button-line-left {
  width: 45px;
  opacity: 1;
  -moz-transform: translate(30px, 0px);
  -webkit-transform: translate(30px, 0px);
  -o-transform: translate(30px, 0px);
  -ms-transform: translate(30px, 0px);
  transform: translate(30px, 0px);
}

.pq-button .pq-button-line-right {
  background: var(--c-white);
  width: calc(60px - 1px);
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  opacity: 1;
  margin-left: 15px;
}

.pq-button:hover .pq-button-line-right {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 0;
}

/*===== Button link =====*/
.pq-button.pq-btn-link {
  padding: 0;
  background: transparent;
  color: var(--c-primary);
  line-height: 1;
  float: left;
}

.pq-button.pq-btn-link .pq-button-line-left,
.pq-button.pq-btn-link .pq-button-line-right {
  background: var(--c-primary);
}

.pq-button.pq-btn-link:hover .pq-button-line-left {
  -moz-transform: translate(0, 0px);
  -webkit-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  transform: translate(0, 0px);
}

/*===== Button link =====*/
.pq-button.pq-btn-outline {
  background: transparent;
  color: var(--c-primary);
  border: 1px solid var(--c-primary);
}

.pq-button.pq-btn-outline .pq-button-line-left,
.pq-button.pq-btn-outline .pq-button-line-right {
  background: var(--c-primary);
}

.pq-button:hover .pq-button-line-left {
  width: calc(15px - 1px);
}

.pq-button {
  margin: 0 0 0 14px;
}

/* ghumi pavilionz */
.vehicle-section-divider {
  border-bottom: 1px solid #434343;
  /* padding: 8px 0; */
  overflow: hidden;
}

.vehicle-section-divider .section-divider-content {
  position: relative;
}

.vehicle-section-divider .section-divider-content:before {
  border-top: dashed #ececec;
  width: 100%;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  z-index: 0;
}

.vehicle-section-divider .section-divider-content .vehicle-border {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-animation: s3-rotate 7s infinite linear;
  animation: s3-rotate 7s infinite linear;
  display: block;
}

@-webkit-keyframes s3-rotate {
  from {
    transform: translateX(-5%);
  }

  to {
    transform: translateX(105%);
  }
}

.vehicle-section-divider .section-divider-content.ambulance img {
  position: relative;
  top: -15px;
}

/* ghumi pavilionz */
/* Back To Top start */
#back-to-top .top {
  position: fixed;
  bottom: 30px;
  text-decoration: none;
  right: 30px;
  margin: 0px;
  color: var(--c-white);
  background: var(--c-primary);
  z-index: 999;
  border: 1px solid var(--c-primary);
  font-size: 26px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  -webkit-border-radius: 90000px;
  -moz-border-radius: 90000px;
  border-radius: 90000px;
}

#back-to-top .top:hover {
  background: var(--c-primary);
  color: var(--c-white);
  border: 1px solid var(--c-primary);
}

/* Back To Top end */

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++
Footer Start
+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer#pq-footer {
  display: inline-block;
  width: 100%;
  float: left;
  /* background: url(../images/background-images/2.jpg); */
}

footer#pq-footer .pq-footer-top {
  padding: 60px 0 0;
}

footer#pq-footer .pq-copyright-footer {
  padding: 15px;
  background: #202020;
}

footer#pq-footer .pq-copyright-footer .pq-copyright {
  text-align: center;
  display: inline-block;
  width: 100%;
}

footer#pq-footer .pq-copyright-footer .pq-copyright a {
  color: var(--c-white);
}

footer#pq-footer .pq-copyright-footer .pq-copyright a:hover {
  color: var(--c-white);
  text-decoration: underline;
}

/*----copyright-footer----*/
footer#pq-footer .pq-copyright-footer .pq-copyright.left {
  text-align: left;
}

footer#pq-footer .pq-copyright-footer {
  background: #202020;
  padding: 15px;
}

footer#pq-footer .pq-copyright-footer .pq-copyright a {
  color: var(--c-white);
}

footer#pq-footer .pq-copyright-footer .pq-copyright {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: var(--c-white);
}

footer#pq-footer .pq-copyright-footer .pq-copyright.right {
  text-align: right;
}

footer#pq-footer .pq-copyright-footer .pq-footer-link ul {
  list-style: none;
  float: right;
  display: flex;
  margin: 0;
}

footer#pq-footer .pq-copyright-footer .pq-footer-link ul li {
  margin-right: 15px;
  display: inline-block;
}

footer#pq-footer .pq-copyright-footer .pq-footer-link ul li a {
  color: var(--c-white);
}

footer#pq-footer .pq-copyright-footer .pq-footer-link ul li a:hover {
  color: var(--c-primary);
}

/*===== Footer Widget =====*/
footer#pq-footer .widget {
  background: transparent;
  padding: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 45px;
  color: var(--c-white);
}

footer#pq-footer .widget .footer-title {
  margin-bottom: 15px;
  padding: 0;
  font-size: 28px;
  position: relative;
  line-height: 36px;
  color: var(--c-white);
}

.widget .footer-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 2px;
  display: inline-block;
  background: var(--c-primary);
}

footer#pq-footer .widget ul li {
  color: var(--c-white);
}

footer#pq-footer .widget ul li a {
  padding: 0;
  text-decoration: none;
  color: var(--c-white);
}

footer#pq-footer .widget ul li a:hover {
  color: var(--c-primary);
}

footer#pq-footer table td,
footer#pq-footer table th {
  border: 1px solid var(--c-white);
  color: var(--c-white);
}

footer#pq-footer .calendar_wrap table caption {
  caption-side: inherit;
  padding: 0 0 10px;
  font-weight: 500;
  color: var(--c-white);
}

footer#pq-footer .calendar_wrap td#today {
  background: var(--c-primary);
  color: var(--c-white);
}

footer#pq-footer .calendar_wrap td#today a {
  color: var(--c-white);
}

footer#pq-footer ul li a.rsswidget {
  padding-left: 0;
  font-size: 16px;
  color: var(--c-white);
  font-weight: 500;
  font-family: var(--fonts-title);
}

footer#pq-footer ul li .rss-date {
  font-size: 14px;
  color: var(--c-primary);
  line-height: 1;
  float: left;
  display: inline-block;
  width: 100%;
  margin: 5px 0;
}

footer#pq-footer ul li cite {
  font-weight: 500;
  margin-top: 5px;
  display: inline-block;
  width: 100%;
}

footer#pq-footer .search-form {
  position: relative;
}

footer#pq-footer .search-form .search-submit {
  background: var(--c-primary);
  border: none;
  position: absolute;
  text-align: center;
  line-height: 54px;
  height: 54px;
  width: 54px;
  top: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

footer#pq-footer .search-form .search-submit:before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

footer#pq-footer .search-form .search-submit:hover {
  background: var(--c-dark);
}

footer#pq-footer .search-form input {
  background: var(--c-white);
  border-color: var(--c-white);
}

footer#pq-footer .tagcloud .tag-cloud-link {
  font-size: 16px !important;
  color: var(--c-white);
  background: var(--c-primary);
  margin: 0 10px 10px 0;
  display: inline-block;
  float: left;
  padding: 4px 12px;
  border-radius: 0;
  border: 1px solid var(--c-primary);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

footer#pq-footer .tagcloud .tag-cloud-link:hover {
  border-color: var(--c-white);
  background: var(--c-white);
  color: var(--c-dark);
}

footer#pq-footer .widget ul.menu li a,
footer#pq-footer .pq-widget-menu .pq-service li a {
  position: relative;
  border: none;
  padding: 5px 0 5px 15px;
  font-size: 16px;
  display: inline-block;
  width: 100%;
}

footer#pq-footer .widget ul.menu li a:hover,
footer#pq-footer .pq-widget-menu .pq-service li a:hover {
  color: var(--c-primary);
}

footer#pq-footer .widget ul.menu li a:before {
  content: "\f054";
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 12px;
  top: 9px;
  left: -5px;
  color: var(--c-primary);
  display: inline-block;
  margin: auto 0;
}

footer#pq-footer .wp-calendar-nav .wp-calendar-nav-prev,
footer#pq-footer .wp-calendar-nav .wp-calendar-nav-next {
  background: transparent;
}

footer#pq-footer .wp-calendar-nav .wp-calendar-nav-prev a,
footer#pq-footer .wp-calendar-nav .wp-calendar-nav-next a {
  color: var(--c-white);
}

footer#pq-footer .wp-caption p.wp-caption-text {
  color: var(--c-dark);
}

footer#pq-footer .pq-widget-menu .pq-service li a:before {
  content: "";
  position: absolute;
  top: 18px;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 5px;
  display: inline-block;
  background: var(--c-primary);
  margin: 0;
}

footer#pq-footer .widget #recentcomments--1 li.recentcomments span a {
  color: var(--c-primary);
  font-weight: 500;
}

/*=========*/
#pq-footer .pq-footer-style-1 > span {
  background: transparent;
  color: var(--c-white);
  overflow: hidden;
}

#pq-footer .pq-footer-style-1 i {
  background: transparent;
  color: var(--c-primary);
  overflow: hidden;
  margin-right: 15px;
}

.pq-footer-top .pq-footer-items {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.pq-footer-top .pq-footer-items:last-child {
  margin: 0;
}

.pq-footer-top .pq-footer-items .pq-footer-items-info a {
  text-decoration: none;
}

.pq-footer-top .pq-footer-items .pq-footer-items-info a > span {
  color: var(--c-primary);
}

footer#pq-footer .pq-footer-style-1 .widget .footer-title {
  color: var(--c-white);
}

#pq-footer .pq-footer-style-1 ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

footer#pq-footer .pq-footer-style-1 .widget ul.menu li a,
footer#pq-footer .pq-footer-style-1 .pq-widget-menu .pq-service li a,
footer#pq-footer .pq-footer-style-1 .widget ul li a {
  color: var(--c-white);
}

footer#pq-footer .pq-footer-style-1 .widget ul li a:hover {
  color: var(--c-primary);
}

footer#pq-footer .pq-footer-style-1 .widget:first-child {
  margin-bottom: 45px;
}

footer#pq-footer .pq-footer-style-1 .pq-footer-logo {
  height: 60px;
  margin-bottom: 15px;
}

.pq-footer-style-1 .widget ul li {
  margin: 0 0 5px 0;
}

/*++++++++*/
footer#pq-footer .pq-footer-style-1 .pq-footer-top {
  position: relative;
}

/* footer#pq-footer .pq-footer-style-1 .pq-footer-top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(44, 44, 44, 0.9);
} */

#pq-footer .pq-footer-style-1 .widget:first-child {
  margin-bottom: 45px;
}

#pq-footer .pq-footer-style-1 .widget p {
  color: var(--c-white);
  text-transform: capitalize;
}

#pq-footer .pq-footer-style-1 .pq-footer-logo {
  height: 40px;
  margin-bottom: 30px;
}

.pq-subscribe .col-xl-2.col-lg-4.col-md-4.center {
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

#pq-footer .pq-footer-style-1 .pq-footer-top .pq-subscribe-content {
  padding: 30px 15px;
  text-align: center;
  background: #2d2d2d;
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
}

#pq-footer .pq-footer-style-1 .pq-footer-top .pq-subscribe-content img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  object-fit: scale-down;
  z-index: -1;
}

#pq-footer
  .pq-footer-style-1
  .pq-footer-top
  .pq-subscribe-content
  .footer-title {
  margin: 0;
  padding: 0;
}

#pq-footer .pq-footer-style-1 .pq-footer-top .pq-subscribe-content input {
  text-align: center;
}

#pq-footer .pq-footer-style-1 .pq-footer-top .pq-subscribe-content p {
  margin-bottom: 15px;
}

#pq-footer
  .pq-footer-style-1
  .pq-footer-top
  .pq-subscribe-content
  [type="submit"] {
  text-align: center;
  margin-top: 15px;
  background: var(--c-primary);
  padding: 6px 30px;
  border: none;
  float: inherit;
}

#pq-footer
  .pq-footer-style-1
  .pq-footer-top
  .pq-subscribe-content
  [type="submit"]:hover {
  background: var(--c-primary);
}

.widget.widget-port .footer-title,
.pq-widget-button-1 .footer-title {
  margin-bottom: 20px;
}

.widget.widget-port:nth-child(2) {
  padding: 0;
  background: unset;
}

/*++++++++*/
.pq-footer-social ul {
  margin: 0;
  padding: 0;
}

.pq-footer-social ul li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

.pq-footer-social ul li:last-child {
  margin-right: 0;
}

.pq-footer-social ul li a {
  background: var(--c-white);
  color: var(--c-primary) !important;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin-right: 4px !important;
}

.pq-footer-social ul li a:last-child {
  margin-right: 0px;
}

footer#pq-footer .pq-footer-social ul li a:hover {
  background: var(--c-white);
  color: var(--c-white);
}

/*++++++ footer form css++++++ */
.pq-footer-form {
  position: relative;
}

.pq-footer-form input[type="submit"] {
  position: absolute;
  margin-top: 0;
  right: 0;
  top: 0;
  padding: 12px 15px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++

Footer Subscribe

+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.pq-subscribe {
  margin: 0;
  position: relative;
  width: 100%;
  display: inline-block;
  background: var(--c-primary);
}

.pq-subscribe a {
  text-decoration: none;
}

.pq-subscribe-location,
.pq-subscribe-time {
  display: flex;
  padding: 60px 0;
}

.pq-subscribe-time {
  padding: 60px 0;
  justify-content: flex-end;
}

.pq-subscribe-title {
  color: var(--c-white);
}

.pq-subscribe-location .pq-subscribe-title {
  margin-right: 15px;
  font-size: 32px;
  line-height: 40px;
}

.pq-subscribe-time .pq-subscribe-title {
  margin-left: 15px;
  font-size: 32px;
  line-height: 40px;
}

.pq-subscribe-contact {
  padding: 0 5px;
  height: 100%;
  background: var(--c-primary);
  text-align: center;
  color: var(--c-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pq-subscribe-contact img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  height: 100px;
  margin: auto;
  opacity: 0.1;
}

.pq-subscribe-contact span {
  font-family: var(--fonts-title);
  font-size: 18px;
  line-height: 26px;
  display: block;
  color: var(--c-white);
  font-weight: 500;
}

.pq-subscribe-location > i,
.pq-subscribe-time > i {
  font-size: 28px;
  line-height: 36px;
  color: var(--c-white);
}

.pq-subscribe-contact > a {
  color: var(--c-white);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++
Footer End
+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* @media (max-width: 479px) {
  .pq-menu-search-block {
    display: none;
  }
} */

@media (max-width: 1023px) {
  /* pq-search-form */
  .pq-search-form {
    top: 52px;
  }

  /* pq-menu-search-block */
  .pq-menu-search-block {
    margin-left: auto;
    /* margin-right: 30px; */
  }

  .pq-bottom-header .navbar .navbar-nav li .sub-menu > li:hover,
  .pq-bottom-header .navbar .navbar-nav li .sub-menu li.current-menu-item,
  .pq-bottom-header .navbar .navbar-nav li .sub-menu li.current-menu-parent {
    padding: 0;
  }

  .pq-bottom-header .navbar .navbar-nav li .sub-menu li.current-menu-item > a,
  .pq-bottom-header .navbar .navbar-nav li .sub-menu li a:hover,
  .pq-bottom-header .navbar .navbar-nav li .sub-menu li.current-menu-parent a {
    margin-left: 15px;
  }

  .pq-bottom-header .navbar .navbar-nav li.current-menu-item > a {
    color: var(--c-primary);
  }
}
